.digits
  text-align: right

//ingredients

.allingredients__heading
  /*  */
  th a
    @extend %header-font
    color: $highlight

  th + th 
    padding-left: .5em

.allingredients__body
  /*  */

  td + td
    margin-left: .5em
  td:first-child
    padding-left: .5em
  td:last-child
    padding-right: .5em

.ingredient
  padding: .5em

  &:hover
    background-color: rgba($link, .2)

.ingredient__name
  /*  */
  
  .ingredient__name, 
    @extend %header-font
    color: $link
    text-decoration: underline

  & > div
    display: inline-block
    clear:none
    vertical-align: middle

// recipes
.recipe
  background-color: #efefef
  margin-bottom: 1em

.recipe__name
  @extend %title-font



.recipe__instructions

.recipe__date


input 
    width: 170px

.digits input
  text-align: right