.digits
  text-align: right

.float-right
  float: right

button.red
  background-color: $red
button.green
  background-color: $green
button.grey
  background-color: $grey
button.blue
  background-color: $blue
  
/* Tables */
.allingredients__heading
  th a
    @extend %header-font
    color: $highlight
  th + th 
    padding-left: .5em

.allingredients__body
  td
    vertical-align: middle
  td + td
    padding-left: 1em

.ingredient
  padding: .5em

button
  color: $page-background
  border-radius: $border-radius
  height: $universal-height
  border: 0
  margin:
    right: 1em
    top: .6em
    bottom: .6em
  padding:
    left: 10px
    right: 10px

.recipe__name
  @extend %title-font




  
/* UNSORTED */
.ingredient__name

  .ingredient__name, 
    @extend %header-font
    color: $link
    text-decoration: underline

  & > div
    display: inline-block
    clear:none
    vertical-align: middle