/* ONLY list view */

/*  sizing */
.ingredient__name
  width: 70%
.ingredient__amount
  width: 20%
.ingredient__measure
  width: 10%

.recipe
  margin-bottom: 1em
  background-color: white
  border-radius: $border-radius
  padding: 1em




