/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Include CSS Normalize */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  padding: 2em;
  float: left;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  float: left;
  margin: 0 0 1em;
}

table thead th {
  padding: 0.35em 0 .35em;
  font-weight: 400;
  text-align: left;
}

table tbody {
  border-bottom: none;
}

table tbody tr {
  border-bottom: none;
}

table tbody tr td {
  padding: .60em 0;
}

table tbody tr td a {
  text-decoration: none;
  display: inline-block;
  margin: 0 .5em 0 0;
}

table tfoot td {
  padding: 0.35em 0 .35em;
  text-align: left;
}

@media screen and (min-width: 1000px) {
  table {
    width: 100%;
  }
  table thead {
    border-bottom: 1px solid #000;
  }
  table tbody tr {
    border-bottom: none;
  }
}

#rwd-table {
  display: block;
}

#rwd-table tbody {
  border: none;
}

#rwd-table tbody, #rwd-table th, #rwd-table td, #rwd-table tr, #rwd-table tfoot {
  display: block;
}

#rwd-table thead {
  display: none;
}

#rwd-table tr {
  float: left;
  width: 100%;
  margin: 0 0 1em;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px 0px #ddd;
  border-radius: 4px;
  border-top: 1px solid #000;
}

#rwd-table tr td {
  padding: .5em .5em .5em 50%;
  float: left;
  width: 100%;
}

#rwd-table tr td:before {
  width: 100%;
  display: block;
  float: left;
  padding: .5em .5em .5em 0;
  clear: both;
  margin: -.5em 0 0 -100%;
  font-size: 1.125em;
}

@media screen and (min-width: 600px) {
  #rwd-table {
    display: table;
    border: none;
  }
  #rwd-table tbody {
    border-bottom: none;
  }
  #rwd-table th, #rwd-table td {
    display: table-cell;
  }
  #rwd-table tr {
    display: table-row;
    border: none;
    border-bottom: none;
    float: none;
    margin: 0;
    box-shadow: none;
  }
  #rwd-table tr td {
    padding: .75em 0 0.75em .25em;
    float: none;
    width: auto;
  }
  #rwd-table tr td:before {
    padding: 0 !important;
  }
  #rwd-table thead {
    display: table-header-group;
  }
  #rwd-table tbody, #rwd-table tfoot {
    display: table-row-group;
  }
  #rwd-table tr:nth-of-type(even) {
    background: none;
  }
}

#rwd-table-large {
  display: block;
}

#rwd-table-large tbody {
  border: none;
}

#rwd-table-large tbody, #rwd-table-large th, #rwd-table-large td, #rwd-table-large tr, #rwd-table-large tfoot {
  display: block;
}

#rwd-table-large thead {
  display: none;
}

#rwd-table-large tr {
  float: left;
  width: 100%;
  margin: 0 0 1em;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px 0px #ddd;
  border-radius: 4px;
  border-top: 1px solid #000;
}

#rwd-table-large tr td {
  padding: .5em .5em .5em 50%;
  float: left;
  width: 100%;
}

#rwd-table-large tr td:before {
  width: 100%;
  display: block;
  float: left;
  padding: .5em .5em .5em 0;
  clear: both;
  margin: -.5em 0 0 -100%;
  font-size: 1.125em;
}

@media screen and (min-width: 1000px) {
  #rwd-table-large {
    display: table;
    border: none;
  }
  #rwd-table-large tbody {
    border-bottom: none;
  }
  #rwd-table-large th, #rwd-table-large td {
    display: table-cell;
  }
  #rwd-table-large tr {
    display: table-row;
    border: none;
    border-bottom: none;
    float: none;
    margin: 0;
    box-shadow: none;
  }
  #rwd-table-large tr td {
    padding: .75em 0 0.75em .25em;
    float: none;
    width: auto;
  }
  #rwd-table-large tr td:before {
    padding: 0 !important;
  }
  #rwd-table-large thead {
    display: table-header-group;
  }
  #rwd-table-large tbody, #rwd-table-large tfoot {
    display: table-row-group;
  }
  #rwd-table-large tr:nth-of-type(even) {
    background: none;
  }
}

#rwd-table tbody tr td:nth-of-type(1):before {
  content: "Heading Col 1";
}

@media screen and (min-width: 600px) {
  #rwd-table tbody tr td:nth-of-type(1):before {
    content: '';
  }
}

#rwd-table tbody tr td:nth-of-type(2):before {
  content: "Heading Col 2";
}

@media screen and (min-width: 600px) {
  #rwd-table tbody tr td:nth-of-type(2):before {
    content: '';
  }
}

#rwd-table tbody tr td:nth-of-type(3):before {
  content: "Heading Col 3";
}

@media screen and (min-width: 600px) {
  #rwd-table tbody tr td:nth-of-type(3):before {
    content: '';
  }
}

#rwd-table-large tbody tr td:nth-of-type(1):before {
  content: "Heading Col 1";
}

@media screen and (min-width: 1000px) {
  #rwd-table-large tbody tr td:nth-of-type(1):before {
    content: '';
  }
}

#rwd-table-large tbody tr td:nth-of-type(2):before {
  content: "Heading Col 2";
}

@media screen and (min-width: 1000px) {
  #rwd-table-large tbody tr td:nth-of-type(2):before {
    content: '';
  }
}

#rwd-table-large tbody tr td:nth-of-type(3):before {
  content: "Heading Col 3";
}

@media screen and (min-width: 1000px) {
  #rwd-table-large tbody tr td:nth-of-type(3):before {
    content: '';
  }
}

#rwd-table-large tbody tr td:nth-of-type(4):before {
  content: "Heading Col 4";
}

@media screen and (min-width: 1000px) {
  #rwd-table-large tbody tr td:nth-of-type(4):before {
    content: '';
  }
}

.page__title h1, .page__title h2, .recipe__name {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 700;
  color: #212121;
  font-size: 1.5em;
  text-decoration: none;
  border-bottom: none;
}

.allingredients__heading th {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #212121;
  text-decoration: none;
  border-bottom: none;
}

.allingredients__heading th a {
  text-decoration: underline;
}

html, body, input[type="text"], textarea {
  font-family: 'Open Sans', sans-serif;
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  border-bottom: none;
}

button, .meta a {
  color: #ebeef0;
  border-radius: 3px;
  height: 30px;
  border: 0;
  margin-right: 1em;
  margin-top: .6em;
  margin-bottom: .6em;
  padding-left: 10px;
  padding-right: 10px;
}

input[type="checkbox"]:checked + span {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.37) inset;
  border-radius: 3px;
  border: none;
}

#root {
  max-width: 700px;
  margin: 0 auto;
}

html, body {
  background-color: #ebeef0;
  line-height: 1.1;
}

html {
  margin: 0 .5em;
}

*::selection {
  color: #FAFAFA;
  background: #B0BEC5;
}

.page__title {
  margin-top: 2em;
  margin-bottom: 1em;
}

.page__title h1 {
  font-size: 3em;
}

.page__title em {
  color: #212121;
  display: block;
}

.page__title a {
  color: #00bcd4;
  font-weight: 400;
  text-decoration: underline;
}

.page__title * + * {
  margin-top: .2em;
}

.digits {
  text-align: right;
}

.float-right {
  float: right;
}

.hide {
  display: none;
}

button.red {
  background-color: #D84315;
}

button.green {
  background-color: #66BB6A;
}

button.grey {
  background-color: #B0BEC5;
}

button.blue {
  background-color: #00BCD4;
}

a {
  text-decoration: underline;
  opacity: 0.9;
}

a:hover {
  text-decoration: none;
  opacity: 1;
}

a.red {
  color: #D84315;
}

a.green {
  color: #66BB6A;
}

a.grey {
  color: #B0BEC5;
}

a.blue {
  color: #00BCD4;
}

a .label {
  display: none;
}

a:hover .label {
  display: inherit;
}

/* Tables */
.allingredients__heading {
  border-bottom: 1px solid rgba(176, 190, 197, 0.33);
}

.allingredients__heading th {
  color: rgba(33, 33, 33, 0.33);
  font-size: .9em;
}

.allingredients__heading th + th {
  padding-left: .5em;
}

.allingredients__body td {
  vertical-align: middle;
}

.allingredients__body td + td {
  padding-left: .5em;
}

.ingredient {
  padding: .5em;
}

.meta > * {
  margin-left: .3em;
  display: inline-block;
  vertical-align: middle;
}

.meta a {
  text-decoration: underline;
  margin: 0;
  padding-left: .3em;
  padding-right: .4em;
  padding-top: .4em;
}

.meta a:hover {
  background-color: #212121;
  color: #FAFAFA;
  text-decoration: none;
}

.meta a.grey:hover {
  background-color: #B0BEC5;
}

.meta a.red:hover {
  background-color: #D84315;
}

.meta a.green:hover {
  background-color: #66BB6A;
}

.meta a.blue:hover {
  background-color: #00BCD4;
}

div.meta {
  margin-bottom: 1em;
  border-radius: 3px;
}

span.meta {
  margin-left: .5em;
}

@media (max-width: 650px) {
  .recipe span.meta {
    display: block;
    margin-left: 0;
  }
}

/* ONLY list view */
/*  sizing */
.ingredient__name {
  width: 70%;
}

.ingredient__amount {
  width: 20%;
}

.ingredient__measure {
  width: 10%;
}

.recipe {
  margin-bottom: 1em;
  background-color: white;
  border-radius: 3px;
  padding: 1em;
  border: 1px solid rgba(128, 128, 128, 0.27);
}

.recipe__footer {
  margin-top: 1em;
}

.recipe__date {
  color: #6e6e6e;
  font-size: .9em;
  padding: 0;
}

.recipe__list .recipe__name {
  display: inline-block;
  vertical-align: middle;
}

.recipe--mockup:hover {
  background-color: #66BB6A;
  color: #FAFAFA;
}

.recipe--mockup:hover a.green {
  color: #FAFAFA;
  text-decoration: none;
}

.recipe__instructions {
  line-height: 1.3;
  clear: both;
}

.recipe__instructions p + p {
  margin-top: .5em;
}

.recipe__list thead {
  border-bottom: 1px solid rgba(128, 128, 128, 0.27);
}

.recipe-editor {
  /*  sizing */
}

.recipe-editor td {
  margin-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
}

.recipe-editor td fieldset, .recipe-editor td button, .recipe-editor td input, .recipe-editor td a {
  height: 30px;
  vertical-align: middle;
  margin-top: .25em;
  margin-bottom: .25em;
}

.recipe-editor tr:first-child td fieldset, .recipe-editor tr:first-child td button, .recipe-editor tr:first-child td input, .recipe-editor tr:first-child td a {
  margin-top: .5em;
}

.recipe-editor .ingredient__name {
  width: 62%;
}

.recipe-editor .ingredient__amount {
  width: 15%;
}

.recipe-editor .ingredient__measure {
  width: 23%;
}

.recipe-editor .ingredient__measure fieldset {
  margin-right: 0;
}

.recipe-editor .ingredient__measure span.meta {
  margin-left: 0;
}

@media (max-width: 650px) {
  .recipe-editor .ingredient__name {
    width: 100%;
    display: block;
  }
  .recipe-editor .ingredient__amount {
    width: 100%;
    display: block;
    padding-left: 0;
  }
  .recipe-editor .ingredient__measure {
    width: 100%;
    display: block;
    padding-left: 0;
  }
}

input[type="text"], textarea {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.27);
  border-radius: 3px;
  height: 30px;
  padding: .35em;
  margin-top: 0;
  margin-bottom: 0;
}

.inline-radio {
  clear: none;
  display: inline-block;
}

fieldset {
  display: inline-block;
  clear: none;
  margin-right: 1em;
  overflow: hidden;
  padding: 0;
}

/* checkbox itself */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

input[type="checkbox"] + span em {
  border-bottom: 1px dashed #00bcd4;
}

input[type="checkbox"]:checked + span {
  background-color: #00BCD4;
  color: #ebeef0;
  border-radius: 3px;
}

input[type="checkbox"]:checked + span em {
  border-bottom: none;
}

textarea {
  width: 100%;
  height: 120px;
  border-color: rgba(128, 128, 128, 0.27);
}

.recipe__name input {
  height: 36.9px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

a.savebutton {
  background-color: #00BCD4;
  color: #FAFAFA;
  text-decoration: none;
}
